@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F0F0F0;
    height: 100vh; /*画面高さを100vhで設定し高さ中央揃えのalign-items: centerを適用できるようにする */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial,sans-serif
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.container {
    position: relative;
    background-color: #fff;
    width: 250px;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    font-size: 36px;
}

.screen {
    width: 100%;
    height: 70px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #fff;
    background-color: black;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;
    overflow: hidden;
}

#screen-value {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
    font-size: 36px;
}

#screen-value.error {
    color: red;
    font-size: 30px;
}

.history {
    position: absolute;
    top: 8px;
    left: 10px;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.number-button, .decimal-button, .clear-button {
    background-color: #E0E0E0;
    width: 100%;
    height: 50px;
    font-size: 24px;
    text-align: center;
    border: none;
    border-radius: 5px;
}

.operator-button {
    background-color: #F39C12;
    width: 100%;
    height: 50px;
    font-size: 24px;
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 5px;
}

.equal-button {
    background-color: #2ECC71;
    width: 100%;
    height: 50px;
    font-size: 24px;
    color: #fff;
    border: none;
    text-align: center;
    border-radius: 5px;
    grid-column: 1 / 5;
    padding: 15px;
    /* grid-column: span 3; */
}

/* .backspace-button {
    background-color: #F39C12;
    width: 100%;
    height: 50px;
    font-size: 24px;
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 5px;
    grid-column: span 1;
} */

.debug-panel {
    width: 350px;
    margin-top: 10px;
    height: 200px;
    overflow-y: auto;
    background-color: #111;
    color: #0f0;
    font-size: 12px;
    padding: 8px;
    text-align: left;
    border-radius: 5px;
}

